[Unit]
Description=Gunicorn instance to serve Airbnb content
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/path/to/web_dynamic/
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 2-hbnb:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always
RestartSec=3
ErrorLog=/tmp/airbnb-error.log
AccessLog=/tmp/airbnb-access.log

[Install]
WantedBy=multi-user.target

